<?xml version="1.0" encoding="UTF-8"?>

<launch>

   <node pkg="topic_tools" type="throttle" name="throttle" args="messages /cmd_vel 5.0"/>
   <node name="odo_vs_dr" pkg="odo_vs_dc" type="source.py"/>
   <node name="odo_vs_dr_plot_x" pkg="rqt_plot" type="rqt_plot" args="/gt/x /odo/x /dr/x /odo_husky/x" />
   <node name="odo_vs_dr_plot_y" pkg="rqt_plot" type="rqt_plot" args="/gt/y /odo/y /dr/y /odo_husky/y" />
   <node name="odo_vs_dr_plot_theta" pkg="rqt_plot" type="rqt_plot" args="/gt/z /odo/z /dr/z /odo_husky/z" />

</launch>
